<head>
  <style> * {font: 20px Verdana}
    h1 {color: gray;
    font-size: 36px;}
    h3 {color: black;
    border: 3px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;}
    body{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 500px;
    padding-right: 500px;}
    ul {list-style-type: none;}
  </style>
  <link rel="stylesheet" type="text/css" href="<%= url('/style.css') %>"/>
</head>
<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>
<body>
<center>

  <h1> MakersBnB </h1>

  <h3> By Matteo, Dillon, Ryan, Paul and Ilja </h3>

</center>
</body>
